openapi: 3.1.0
info:
  title: Pixie Girl Hub API
  version: 1.0.0
  description: |
    Backend API for the Pixie Girl Hub — multi-entity ERP/CRM/E-commerce platform.
    See ARCHITECTURE.md and API_CONVENTIONS.md in the same folder.

  contact:
    name: JBS Praxis
servers:
  - url: https://api.pixiegirlhub.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local dev

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    BrandContext:
      name: X-Brand-Context
      in: header
      required: true
      schema:
        type: string
        enum: [pixiegirl, faitlynhair]
  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not permitted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ValidationError:
      description: Input validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationError"
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
        request_id:
          type: string
    ValidationError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: [VALIDATION_ERROR]
            message:
              type: string
            fields:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
        request_id:
          type: string
    CampaignCreate:
      type: object
      required: [name, slug, starts_at, ends_at, discount_type, discount_value]
      properties:
        name: { type: string }
        slug: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
        description: { type: string }
        starts_at: { type: string, format: date-time }
        ends_at: { type: string, format: date-time }
        discount_type:
          type: string
          enum: [percentage, fixed_amount, buy_x_get_y, bundle, free_shipping]
        discount_value:
          type: number
          description: "Fraction for percentage (0.20 = 20%); NGN amount otherwise."
        min_order_value_ngn: { type: number }
        customer_segment_id: { type: string, format: uuid }
        first_time_buyers_only: { type: boolean }
        product_scope:
          type: string
          enum: [all, specific_products, specific_categories]
        landing_hero_title: { type: string }
        landing_hero_subtitle: { type: string }
        landing_hero_image_url: { type: string, format: uri }
        landing_cta_text: { type: string }
        landing_blocks: { type: array, items: { type: object } }
        total_usage_limit: { type: integer }
    CampaignSignup:
      type: object
      properties:
        email: { type: string, format: email }
        phone: { type: string }
        notify_via: { type: string, enum: [email, whatsapp, sms, both] }
        source: { type: string }
      description: "email or phone is required"

    # ── Shared envelopes ────────────────────────────────────────
    # Every read returns { data: ... }; list reads return { data: [...], meta }.
    ListMeta:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
        has_more: { type: boolean }

    # ── Logistics & Delivery (Module 6.10) — request schemas (mirror Zod) ──
    CourierCreate:
      type: object
      required: [courier_key, display_name]
      properties:
        courier_key: { type: string, maxLength: 40 }
        display_name: { type: string, maxLength: 120 }
        description: { type: string }
        integration_type: { type: string, enum: [manual, api, webhook_only, partner_portal] }
        api_endpoint: { type: string }
        webhook_secret: { type: string }
        serves_local: { type: boolean }
        serves_nationwide: { type: boolean }
        serves_international: { type: boolean }
        service_countries: { type: array, items: { type: string, maxLength: 3 } }
        rate_card: { type: object, additionalProperties: true }
        supports_pod: { type: boolean }
        pod_fee_pct: { type: number, minimum: 0, maximum: 100 }
        default_packaging: { type: string }
        display_order: { type: integer }
    CourierUpdate:
      description: "All CourierCreate fields except courier_key (all optional) + is_active."
      type: object
      properties:
        display_name: { type: string }
        description: { type: string }
        integration_type: { type: string, enum: [manual, api, webhook_only, partner_portal] }
        api_endpoint: { type: string }
        webhook_secret: { type: string }
        serves_local: { type: boolean }
        serves_nationwide: { type: boolean }
        serves_international: { type: boolean }
        service_countries: { type: array, items: { type: string } }
        rate_card: { type: object, additionalProperties: true }
        supports_pod: { type: boolean }
        pod_fee_pct: { type: number }
        default_packaging: { type: string }
        display_order: { type: integer }
        is_active: { type: boolean }
    DeliveryItem:
      type: object
      required: [description, quantity]
      properties:
        source_type: { type: string }
        source_id: { type: string, format: uuid }
        variant_id: { type: string, format: uuid }
        description: { type: string }
        quantity: { type: integer, minimum: 1 }
        weight_g: { type: integer }
        stock_movement_id: { type: string, format: uuid }
        notes: { type: string }
    DeliveryCreate:
      type: object
      required: [courier_id, delivery_address_snapshot]
      properties:
        order_id: { type: string, format: uuid }
        delivery_type:
          type: string
          enum: [sales_order, intercompany_transfer, stock_transfer, supplier_return, partner_consignment, sample, other]
        reference_type: { type: string }
        reference_id: { type: string, format: uuid }
        courier_id: { type: string, format: uuid }
        courier_tracking_ref: { type: string }
        courier_tracking_url: { type: string }
        from_location_id: { type: string, format: uuid }
        recipient_contact_id: { type: string, format: uuid }
        recipient_name_snapshot: { type: string }
        recipient_phone_snapshot: { type: string }
        recipient_whatsapp_snapshot: { type: string }
        delivery_address_snapshot: { type: object, additionalProperties: true }
        delivery_instructions: { type: string }
        courier_fee_ngn: { type: number, minimum: 0 }
        is_pay_on_delivery: { type: boolean }
        pod_amount_expected_ngn: { type: number, minimum: 0 }
        weight_g: { type: integer }
        package_count: { type: integer, minimum: 1 }
        declared_value_ngn: { type: number, minimum: 0 }
        items: { type: array, items: { $ref: "#/components/schemas/DeliveryItem" } }
    DeliveryBook:
      type: object
      properties:
        courier_tracking_ref: { type: string }
        courier_tracking_url: { type: string }
        expected_delivery_at: { type: string, format: date-time }
    DeliveryAdvance:
      type: object
      required: [to_status]
      properties:
        to_status:
          type: string
          enum: [picked_up, in_transit, arrived_destination_city, out_for_delivery, delivered, returned_to_sender, lost, damaged]
        notes: { type: string }
        source: { type: string, enum: [user, system, webhook, customer, courier_portal] }
    DeliveryCancel:
      type: object
      properties:
        reason: { type: string }
    DeliveryAttempt:
      type: object
      required: [outcome]
      properties:
        attempted_at: { type: string, format: date-time }
        outcome:
          type: string
          enum: [delivered, recipient_unavailable, address_wrong, recipient_refused, locked_premises, rescheduled, lost_in_transit, damaged, other_failure]
        outcome_notes: { type: string }
        rider_name: { type: string }
        rider_phone: { type: string }
        reported_lat: { type: number, minimum: -90, maximum: 90 }
        reported_lng: { type: number, minimum: -180, maximum: 180 }
        webhook_event_id: { type: string, format: uuid }
    DeliveryProof:
      type: object
      required: [proof_type]
      properties:
        proof_type: { type: string, enum: [photo_at_door, signature, recipient_id_photo, sms_otp_confirmed, call_confirmed] }
        document_id: { type: string, format: uuid }
        delivery_attempt_id: { type: string, format: uuid }
        recipient_name: { type: string }
        recipient_id_type: { type: string }
        recipient_id_last4: { type: string }
        otp_code_used: { type: string }
        notes: { type: string }
    CourierWebhookIngest:
      type: object
      required: [courier_id, external_event_type, payload, signature_valid]
      properties:
        courier_id: { type: string, format: uuid }
        delivery_id: { type: string, format: uuid }
        external_event_type: { type: string }
        external_event_id: { type: string }
        mapped_to_status: { type: string }
        payload: { type: object, additionalProperties: true }
        signature_valid: { type: boolean }
        shared_webhook_id: { type: string, format: uuid }
    PodCreate:
      type: object
      required: [delivery_id]
      properties:
        delivery_id: { type: string, format: uuid }
        expected_amount_ngn: { type: number, minimum: 0 }
        courier_fee_ngn: { type: number, minimum: 0 }
        notes: { type: string }
    PodCollected:
      type: object
      required: [collected_amount_ngn]
      properties:
        collected_amount_ngn: { type: number, minimum: 0 }
    PodRemit:
      type: object
      properties:
        collected_amount_ngn: { type: number, minimum: 0 }
        remitted_reference: { type: string }
    PodReconcile:
      type: object
      properties:
        status: { type: string, enum: [reconciled, disputed, short_paid, written_off] }
        notes: { type: string }
    Courier:
      type: object
      properties:
        courier_id: { type: string, format: uuid }
        courier_key: { type: string }
        display_name: { type: string }
        integration_type: { type: string }
        serves_local: { type: boolean }
        serves_nationwide: { type: boolean }
        serves_international: { type: boolean }
        service_countries: { type: array, items: { type: string } }
        rate_card: { type: object, additionalProperties: true }
        supports_pod: { type: boolean }
        pod_fee_pct: { type: number, nullable: true }
        is_active: { type: boolean }
        display_order: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    Delivery:
      type: object
      properties:
        delivery_id: { type: string, format: uuid }
        delivery_number: { type: string }
        order_id: { type: string, format: uuid, nullable: true }
        delivery_type: { type: string }
        courier_id: { type: string, format: uuid }
        courier_tracking_ref: { type: string, nullable: true }
        courier_tracking_url: { type: string, nullable: true }
        recipient_name_snapshot: { type: string, nullable: true }
        delivery_address_snapshot: { type: object, additionalProperties: true }
        courier_fee_ngn: { type: number }
        is_pay_on_delivery: { type: boolean }
        pod_amount_expected_ngn: { type: number, nullable: true }
        status:
          type: string
          enum: [queued, booked, picked_up, in_transit, arrived_destination_city, out_for_delivery, attempted_failed, delivered, returned_to_sender, lost, damaged, cancelled]
        attempt_count: { type: integer }
        public_tracking_token: { type: string, nullable: true }
        booked_at: { type: string, format: date-time, nullable: true }
        delivered_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
    DeliveryDetail:
      allOf:
        - $ref: "#/components/schemas/Delivery"
        - type: object
          properties:
            items: { type: array, items: { type: object, additionalProperties: true } }
            attempts: { type: array, items: { type: object, additionalProperties: true } }
            history: { type: array, items: { type: object, additionalProperties: true } }
            proofs: { type: array, items: { type: object, additionalProperties: true } }
    PodCollection:
      type: object
      properties:
        collection_id: { type: string, format: uuid }
        collection_number: { type: string }
        delivery_id: { type: string, format: uuid }
        courier_id: { type: string, format: uuid }
        expected_amount_ngn: { type: number }
        collected_amount_ngn: { type: number, nullable: true }
        courier_fee_ngn: { type: number }
        net_to_us_ngn: { type: number }
        variance_ngn: { type: number }
        status:
          type: string
          enum: [pending, collected_by_courier, remitted, reconciled, disputed, short_paid, written_off]
        remitted_reference: { type: string, nullable: true }
        sales_order_payment_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }
    DeliveryTracking:
      type: object
      properties:
        delivery_number: { type: string }
        status: { type: string }
        courier_tracking_ref: { type: string, nullable: true }
        courier_tracking_url: { type: string, nullable: true }
        expected_delivery_at: { type: string, format: date-time, nullable: true }
        delivered_at: { type: string, format: date-time, nullable: true }
        recipient_name_snapshot: { type: string, nullable: true }
        history:
          type: array
          items:
            type: object
            properties:
              to_status: { type: string }
              changed_at: { type: string, format: date-time }
              notes: { type: string, nullable: true }

paths:
  /auth/login:
    post:
      summary: Login with email + password
      security: []
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: Logged in
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── Sales Campaigns (Module 6.22) ───────────────────────────────
  /sales-campaigns:
    get:
      summary: List campaigns
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: status,
            in: query,
            schema: { type: string },
            description: "comma-separated status filter",
          }
        - { name: q, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - {
            name: page_size,
            in: query,
            schema: { type: integer, default: 25, maximum: 100 },
          }
      x-required-permission: "sales_campaigns.view"
      x-entity-scope: brand
      x-is-write: false
      x-ai-enabled: false
      responses:
        "200": { description: A page of campaigns }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      summary: Create a campaign (draft)
      tags: [sales_campaigns]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "sales_campaigns.create"
      x-entity-scope: brand
      x-is-write: true
      x-ai-enabled: false
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignCreate" }
      responses:
        "201": { description: Created }
        "400": { $ref: "#/components/responses/ValidationError" }
        "409": { description: Slug already in use }

  /sales-campaigns/{id}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - {
          name: id,
          in: path,
          required: true,
          schema: { type: string, format: uuid },
        }
    get:
      summary: Get a campaign (with products + rollups)
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.view"
      x-entity-scope: brand
      x-is-write: false
      responses:
        "200": { description: Campaign detail }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      summary: Update a campaign (draft/scheduled/paused only)
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.edit"
      x-entity-scope: brand
      x-is-write: true
      responses:
        "200": { description: Updated }
        "409": { description: Invalid state for edit }
    delete:
      summary: Archive a campaign
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.delete"
      x-entity-scope: brand
      x-is-write: true
      responses:
        "204": { description: Archived }

  /sales-campaigns/{id}/submit:
    post:
      summary: Submit a draft campaign for approval (opens workflow)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.edit"
      x-entity-scope: brand
      x-is-write: true
      responses:
        "200": { description: Now pending_approval }
        "409": { description: Not in draft state }

  /sales-campaigns/{id}/approve:
    post:
      summary: Approve a pending campaign (CEO/manager)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.approve"
      x-entity-scope: brand
      x-is-write: true
      responses:
        "200": { description: Approved → scheduled }

  /sales-campaigns/{id}/reject:
    post:
      summary: Reject a pending campaign (back to draft)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.approve"
      x-entity-scope: brand
      x-is-write: true
      responses:
        "200": { description: Rejected → draft }

  /sales-campaigns/{id}/launch:
    post:
      summary: Manually launch an approved campaign (→ live)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.edit"
      x-entity-scope: brand
      x-is-write: true
      responses:
        "200": { description: Live }
        "409": { description: Not approved / wrong state }

  /sales-campaigns/{id}/pause:
    post:
      {
        summary: Pause a live campaign,
        tags: [sales_campaigns],
        parameters:
          [
            { $ref: "#/components/parameters/BrandContext" },
            {
              name: id,
              in: path,
              required: true,
              schema: { type: string, format: uuid },
            },
          ],
        x-required-permission: "sales_campaigns.edit",
        x-is-write: true,
        responses: { "200": { description: Paused } },
      }
  /sales-campaigns/{id}/resume:
    post:
      {
        summary: Resume a paused campaign,
        tags: [sales_campaigns],
        parameters:
          [
            { $ref: "#/components/parameters/BrandContext" },
            {
              name: id,
              in: path,
              required: true,
              schema: { type: string, format: uuid },
            },
          ],
        x-required-permission: "sales_campaigns.edit",
        x-is-write: true,
        responses: { "200": { description: Live } },
      }
  /sales-campaigns/{id}/end:
    post:
      {
        summary: End a campaign early,
        tags: [sales_campaigns],
        parameters:
          [
            { $ref: "#/components/parameters/BrandContext" },
            {
              name: id,
              in: path,
              required: true,
              schema: { type: string, format: uuid },
            },
          ],
        x-required-permission: "sales_campaigns.edit",
        x-is-write: true,
        responses: { "200": { description: Ended } },
      }
  /sales-campaigns/{id}/duplicate:
    post:
      {
        summary: Clone a campaign into a new draft,
        tags: [sales_campaigns],
        parameters:
          [
            { $ref: "#/components/parameters/BrandContext" },
            {
              name: id,
              in: path,
              required: true,
              schema: { type: string, format: uuid },
            },
          ],
        x-required-permission: "sales_campaigns.create",
        x-is-write: true,
        responses: { "201": { description: New draft } },
      }

  /sales-campaigns/{id}/products:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - {
          name: id,
          in: path,
          required: true,
          schema: { type: string, format: uuid },
        }
    get:
      summary: List campaign products (include/exclude)
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Product links } }
    post:
      summary: Add an include/exclude product or category
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.edit"
      x-is-write: true
      responses: { "201": { description: Added } }

  /sales-campaigns/{id}/products/{linkId}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - {
          name: id,
          in: path,
          required: true,
          schema: { type: string, format: uuid },
        }
      - {
          name: linkId,
          in: path,
          required: true,
          schema: { type: string, format: uuid },
        }
    patch:
      summary: Update a campaign product link
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
    delete:
      summary: Remove a campaign product link
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.edit"
      x-is-write: true
      responses: { "204": { description: Removed } }

  /sales-campaigns/{id}/landing:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - {
          name: id,
          in: path,
          required: true,
          schema: { type: string, format: uuid },
        }
    get:
      summary: Get landing-page config
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Landing config } }
    patch:
      summary: Update landing-page config
      tags: [sales_campaigns]
      x-required-permission: "sales_campaigns.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }

  /sales-campaigns/{id}/preview:
    get:
      summary: Render landing payload for a given state (admin preview)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
        - {
            name: state,
            in: query,
            schema: { type: string, enum: [before, live, ended] },
          }
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Landing payload } }

  /sales-campaigns/{id}/share-kit:
    get:
      summary: Pre-formatted social/WhatsApp/email copy + UTM links
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Share kit } }

  /sales-campaigns/{id}/signups:
    get:
      summary: List pre-launch notification signups
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Signups page } }

  /sales-campaigns/{id}/metrics:
    get:
      summary: Current rollups + live snapshot (revenue ticker)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Metrics } }

  /sales-campaigns/{id}/metrics/daily:
    get:
      summary: Daily/hourly metric series (chart)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - {
            name: id,
            in: path,
            required: true,
            schema: { type: string, format: uuid },
          }
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
      x-required-permission: "sales_campaigns.view"
      responses: { "200": { description: Metric series } }

  /sales-campaigns/{id}/report:
    get:
      summary: Post-campaign report (JSON; ?format=pdf for a stored PDF link)
      tags: [sales_campaigns]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: format, in: query, schema: { type: string, enum: [json, pdf] } }
      x-required-permission: "sales_campaigns.view"
      x-is-write: false
      responses:
        "200": { description: Report (JSON or stored PDF link) }
        "404": { $ref: "#/components/responses/NotFound" }

  # ── Documents & Signatures (Module 6.13) ────────────────────────
  /documents:
    get:
      summary: List documents
      tags: [documents]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: document_type, in: query, schema: { type: string } }
        - { name: reference_type, in: query, schema: { type: string } }
        - { name: reference_id, in: query, schema: { type: string, format: uuid } }
        - { name: q, in: query, schema: { type: string } }
      x-required-permission: "documents.view"
      x-is-write: false
      responses: { "200": { description: A page of documents } }
    post:
      summary: Upload a document (multipart; routed through the storage gateway)
      tags: [documents]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "documents.create"
      x-is-write: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                document_type: { type: string }
                title: { type: string }
                reference_type: { type: string }
                reference_id: { type: string, format: uuid }
      responses:
        "201": { description: Stored }
        "400": { $ref: "#/components/responses/ValidationError" }
  /documents/{id}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Get document metadata
      tags: [documents]
      x-required-permission: "documents.view"
      responses: { "200": { description: Document }, "404": { $ref: "#/components/responses/NotFound" } }
    delete:
      summary: Delete a document
      tags: [documents]
      x-required-permission: "documents.delete"
      x-is-write: true
      responses: { "204": { description: Deleted } }
  /documents/{id}/download:
    get:
      summary: Download the stored file
      tags: [documents]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "documents.view"
      responses: { "200": { description: File stream }, "404": { $ref: "#/components/responses/NotFound" } }
  /documents/signatures:
    get:
      summary: List e-signature requests
      tags: [documents, signatures]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: request_type, in: query, schema: { type: string } }
      x-required-permission: "documents.view"
      responses: { "200": { description: A page of signature requests } }
    post:
      summary: Create a signature request against a document (with signers)
      tags: [documents, signatures]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "documents.create"
      x-is-write: true
      responses: { "201": { description: Draft request created }, "400": { $ref: "#/components/responses/ValidationError" } }
  /documents/signatures/{id}:
    get:
      summary: Get a signature request (signers + hash-chained audit events)
      tags: [documents, signatures]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "documents.view"
      responses: { "200": { description: Signature request detail }, "404": { $ref: "#/components/responses/NotFound" } }
  /documents/signatures/{id}/send:
    post:
      summary: Send a draft request to its signers
      tags: [documents, signatures]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "documents.edit"
      x-is-write: true
      responses: { "200": { description: Sent }, "409": { description: Not in draft state } }
  /documents/signatures/{id}/cancel:
    post:
      summary: Cancel a not-yet-complete request
      tags: [documents, signatures]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "documents.edit"
      x-is-write: true
      responses: { "200": { description: Cancelled } }
  /documents/signatures/{id}/void:
    post:
      summary: Void a fully-signed request (CEO)
      tags: [documents, signatures]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "documents.delete"
      x-is-write: true
      responses: { "200": { description: Voided } }
  /documents/signatures/{id}/verify:
    get:
      summary: Verify the tamper-evident audit chain is intact
      tags: [documents, signatures]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "documents.view"
      responses: { "200": { description: "{ intact, event_count, broken_at }" } }

  # ── Public signing (served at /api/public/sign — NO /api/v1, no auth) ──
  /sign/{token}:
    get:
      summary: "PUBLIC: view a signing request by token (served at /api/public/sign/{token})"
      tags: [signatures, public]
      security: []
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: Request + signer view }, "404": { $ref: "#/components/responses/NotFound" } }
  /sign/{token}/sign:
    post:
      summary: "PUBLIC: submit a signature by token"
      tags: [signatures, public]
      security: []
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: Signed }, "409": { description: Already signed/expired/out of turn } }
  /sign/{token}/decline:
    post:
      summary: "PUBLIC: decline by token"
      tags: [signatures, public]
      security: []
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: Declined } }

  # ── Accounting & Finance (Module 6.6) ───────────────────────────
  /accounting/account-groups:
    get:
      summary: List account groups (5 standard groupings)
      tags: [accounting]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "accounting.view"
      responses: { "200": { description: Account groups } }
  /accounting/account-groups/{groupId}:
    patch:
      summary: Edit a group (name/order/active; structural fields locked)
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: groupId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /accounting/reports/trial-balance:
    get:
      summary: Trial balance
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
      x-required-permission: "accounting.view"
      responses: { "200": { description: Trial balance } }
  /accounting/reports/profit-and-loss:
    get:
      summary: Profit & loss
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
      x-required-permission: "accounting.view"
      responses: { "200": { description: P&L } }
  /accounting/reports/balance-sheet:
    get:
      summary: Balance sheet
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: to, in: query, schema: { type: string, format: date } }
      x-required-permission: "accounting.view"
      responses: { "200": { description: Balance sheet } }
  /accounting/bank-statements:
    get:
      summary: List imported bank statements
      tags: [accounting]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "accounting.view"
      responses: { "200": { description: Statements } }
    post:
      summary: Import a bank statement (+lines)
      tags: [accounting]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "accounting.create"
      x-is-write: true
      responses: { "201": { description: Imported } }
  /accounting/bank-statements/{statementId}:
    get:
      summary: Get a statement (with lines)
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: statementId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.view"
      responses: { "200": { description: Statement }, "404": { $ref: "#/components/responses/NotFound" } }
  /accounting/bank-reconciliations:
    get:
      summary: List reconciliations
      tags: [accounting]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "accounting.view"
      responses: { "200": { description: Reconciliations } }
    post:
      summary: Open a reconciliation against a statement + fiscal period
      tags: [accounting]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "accounting.create"
      x-is-write: true
      responses: { "201": { description: Opened }, "422": { description: No open fiscal period } }
  /accounting/bank-reconciliations/{reconId}:
    get:
      summary: Get a reconciliation (with matches)
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: reconId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.view"
      responses: { "200": { description: Reconciliation }, "404": { $ref: "#/components/responses/NotFound" } }
  /accounting/bank-reconciliations/{reconId}/matches:
    post:
      summary: Match a statement line to a payment / journal entry
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: reconId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.edit"
      x-is-write: true
      responses: { "201": { description: Matched } }
  /accounting/bank-reconciliations/{reconId}/complete:
    post:
      summary: Complete a reconciliation
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: reconId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.approve"
      x-is-write: true
      responses: { "200": { description: Completed } }
  /accounting/tax-filings:
    get:
      summary: List tax filings
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: tax_type, in: query, schema: { type: string } }
      x-required-permission: "accounting.view"
      responses: { "200": { description: Filings } }
    post:
      summary: Create a tax filing (VAT/WHT/PAYE/CIT/EDT)
      tags: [accounting]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "accounting.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /accounting/tax-filings/{filingId}/review:
    post:
      summary: Mark a draft filing reviewed
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: filingId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.approve"
      x-is-write: true
      responses: { "200": { description: Reviewed } }
  /accounting/tax-filings/{filingId}/file:
    post:
      summary: File the return (FIRS acknowledgement ref)
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: filingId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.approve"
      x-is-write: true
      responses: { "200": { description: Filed } }
  /accounting/tax-filings/{filingId}/pay:
    post:
      summary: Pay the filing (DR tax payable / CR cash)
      tags: [accounting]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: filingId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "accounting.approve"
      x-is-write: true
      responses: { "200": { description: Paid + GL posted } }

  # ── Stock (Module 6.9) ──────────────────────────────────────────
  /stock/valuation:
    get:
      summary: Inventory valuation (on_hand × variant standard cost)
      tags: [stock]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: location_id, in: query, schema: { type: string, format: uuid } }
        - { name: variant_id, in: query, schema: { type: string, format: uuid } }
        - { name: product_id, in: query, schema: { type: string, format: uuid } }
      x-required-permission: "stock.view"
      x-is-write: false
      responses: { "200": { description: "Lines + summary { total_units, total_value_ngn, missing_cost_count }" } }

  # ── Purchasing & Procurement (Module 6.8) ───────────────────────
  /purchasing/suppliers:
    get:
      summary: List suppliers
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: is_active, in: query, schema: { type: boolean } }
        - { name: supplier_type, in: query, schema: { type: string } }
        - { name: q, in: query, schema: { type: string } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: A page of suppliers } }
    post:
      summary: Create a supplier (code auto-issued)
      tags: [purchasing]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "purchasing.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /purchasing/suppliers/{supplierId}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: supplierId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Get a supplier (contacts + product mappings)
      tags: [purchasing]
      x-required-permission: "purchasing.view"
      responses: { "200": { description: Supplier }, "404": { $ref: "#/components/responses/NotFound" } }
    patch:
      summary: Update a supplier (incl. on_hold)
      tags: [purchasing]
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /purchasing/suppliers/{supplierId}/contacts:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: supplierId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: List supplier contacts
      tags: [purchasing]
      x-required-permission: "purchasing.view"
      responses: { "200": { description: Contacts } }
    post:
      summary: Link a contact to the supplier
      tags: [purchasing]
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "201": { description: Linked } }
  /purchasing/suppliers/{supplierId}/contacts/{linkId}:
    delete:
      summary: Unlink a supplier contact
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: supplierId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: linkId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Removed } }
  /purchasing/suppliers/{supplierId}/products:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: supplierId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: List supplier↔variant mappings
      tags: [purchasing]
      x-required-permission: "purchasing.view"
      responses: { "200": { description: Mappings } }
    post:
      summary: Map a variant to the supplier (SKU/MOQ/lead time/last cost)
      tags: [purchasing]
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "201": { description: Mapped } }
  /purchasing/supplier-products/{linkId}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: linkId, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      summary: Update a supplier-product link
      tags: [purchasing]
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
    delete:
      summary: Remove a supplier-product link
      tags: [purchasing]
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Removed } }
  /purchasing/rfqs:
    get:
      summary: List RFQs
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: RFQs } }
    post:
      summary: Create an RFQ (+lines)
      tags: [purchasing]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "purchasing.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /purchasing/rfqs/{rfqId}:
    get:
      summary: Get an RFQ (lines + quotes)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: rfqId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: RFQ }, "404": { $ref: "#/components/responses/NotFound" } }
  /purchasing/rfqs/{rfqId}/send:
    post:
      summary: Send an RFQ to suppliers
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: rfqId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Sent } }
  /purchasing/rfqs/{rfqId}/quotes:
    post:
      summary: Record a supplier quote
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: rfqId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "201": { description: Recorded } }
  /purchasing/rfqs/{rfqId}/award:
    post:
      summary: Award a quote (basis for the PO)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: rfqId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.approve"
      x-is-write: true
      responses: { "200": { description: Awarded } }
  /purchasing/purchase-orders:
    get:
      summary: List purchase orders
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: supplier_id, in: query, schema: { type: string, format: uuid } }
        - { name: open, in: query, schema: { type: boolean } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: POs } }
    post:
      summary: Create a PO (+lines; totals computed)
      tags: [purchasing]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "purchasing.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /purchasing/purchase-orders/{poId}:
    get:
      summary: Get a PO (lines + state history)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: poId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: PO }, "404": { $ref: "#/components/responses/NotFound" } }
  /purchasing/purchase-orders/{poId}/submit:
    post:
      summary: Submit a PO for approval (opens workflow; mgr ≤₦500k / CEO above)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: poId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Submitted } }
  /purchasing/purchase-orders/{poId}/approve:
    post:
      summary: Approve a submitted PO
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: poId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.approve"
      x-is-write: true
      responses: { "200": { description: Approved } }
  /purchasing/purchase-orders/{poId}/advance:
    post:
      summary: Advance the factory-tracking state machine
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: poId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Advanced }, "409": { description: Illegal transition } }
  /purchasing/purchase-orders/{poId}/cancel:
    post:
      summary: Cancel a PO
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: poId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.delete"
      x-is-write: true
      responses: { "200": { description: Cancelled } }
  /purchasing/goods-received-notes:
    get:
      summary: List GRNs
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: po_id, in: query, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: GRNs } }
    post:
      summary: Create a GRN (+lines) against a PO
      tags: [purchasing]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "purchasing.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /purchasing/goods-received-notes/{grnId}:
    get:
      summary: Get a GRN (with lines)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: grnId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: GRN }, "404": { $ref: "#/components/responses/NotFound" } }
  /purchasing/goods-received-notes/{grnId}/post:
    post:
      summary: Post a GRN — receives stock + rolls qty to the PO
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: grnId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Posted } }
  /purchasing/supplier-invoices:
    get:
      summary: List supplier invoices (AP)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: supplier_id, in: query, schema: { type: string, format: uuid } }
        - { name: unpaid, in: query, schema: { type: boolean } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: Supplier invoices } }
    post:
      summary: Record a supplier invoice (+lines)
      tags: [purchasing]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "purchasing.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /purchasing/supplier-invoices/{invoiceId}:
    get:
      summary: Get a supplier invoice (lines + matches)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: invoiceId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.view"
      responses: { "200": { description: Invoice }, "404": { $ref: "#/components/responses/NotFound" } }
  /purchasing/supplier-invoices/{invoiceId}/match:
    post:
      summary: Three-way match (PO ↔ GRN ↔ invoice)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: invoiceId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.edit"
      x-is-write: true
      responses: { "200": { description: Match result } }
  /purchasing/supplier-invoices/{invoiceId}/approve:
    post:
      summary: Approve a matched invoice (DR Inventory + VAT / CR AP)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: invoiceId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.approve"
      x-is-write: true
      responses: { "200": { description: Approved + GL posted }, "409": { description: Unresolved match variance } }
  /purchasing/supplier-invoices/{invoiceId}/pay:
    post:
      summary: Pay an invoice (DR AP / CR Cash, WHT withheld)
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: invoiceId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.approve"
      x-is-write: true
      responses: { "201": { description: Payment posted } }
  /purchasing/supplier-invoices/{invoiceId}/void:
    post:
      summary: Void an unpaid supplier invoice
      tags: [purchasing]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: invoiceId, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "purchasing.delete"
      x-is-write: true
      responses: { "200": { description: Voided } }

  # ── Business Setup / Identity (Module 18) ───────────────────────
  /business-setup/config:
    get:
      summary: Get the brand profile
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.view"
      responses: { "200": { description: business_config } }
    patch:
      summary: Update the brand profile (document_prefix locked after first issuance)
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Updated }, "409": { description: prefix locked } }
  /business-setup/currencies:
    get:
      summary: List currencies
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Currencies } }
    post:
      summary: Create/toggle a currency (upsert)
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "201": { description: Saved } }
  /business-setup/currencies/{code}:
    patch:
      summary: Update a currency
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: code, in: path, required: true, schema: { type: string } }
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /business-setup/fx-rates:
    get:
      summary: List FX rates (currency_rates)
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: from, in: query, schema: { type: string } }
        - { name: to, in: query, schema: { type: string } }
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Rates } }
    post:
      summary: Set a manual FX override
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "201": { description: Rate set } }
  /business-setup/fx-rates/latest:
    get:
      summary: Latest rate for a pair
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: from, in: query, required: true, schema: { type: string } }
        - { name: to, in: query, schema: { type: string } }
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Latest rate } }
  /business-setup/bank-accounts:
    get:
      summary: List company bank accounts (masked numbers)
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Bank accounts } }
    post:
      summary: Add a bank account
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /business-setup/bank-accounts/{id}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Get a bank account (masked)
      tags: [business_setup]
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Bank account } }
    patch:
      summary: Update a bank account
      tags: [business_setup]
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /business-setup/tax-rates:
    get:
      summary: List tax rates (effective-dated)
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: tax_type, in: query, schema: { type: string } }
        - { name: active, in: query, schema: { type: boolean } }
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Tax rates } }
    post:
      summary: Create a tax rate
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /business-setup/tax-rates/{id}/supersede:
    post:
      summary: Close out (supersede) a tax rate
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Superseded } }
  /business-setup/document-numbering:
    get:
      summary: List document-numbering sequences
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Sequences } }
  /business-setup/document-numbering/{id}:
    patch:
      summary: Edit prefix/padding (only before first issuance)
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Updated }, "409": { description: Already issued } }
  /business-setup/custom-fields:
    get:
      summary: List custom field defs
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: entity_type, in: query, schema: { type: string } }
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Field defs } }
    post:
      summary: Create a custom field def
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /business-setup/custom-fields/{id}:
    patch:
      summary: Update a custom field def
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /business-setup/pipeline-stages:
    get:
      summary: List pipeline stage defs
      tags: [business_setup]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: pipeline_type, in: query, schema: { type: string } }
      x-required-permission: "business_setup.view"
      responses: { "200": { description: Stage defs } }
    post:
      summary: Create a pipeline stage def
      tags: [business_setup]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "business_setup.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /business-setup/pipeline-stages/{id}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      summary: Update a pipeline stage def
      tags: [business_setup]
      x-required-permission: "business_setup.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
    delete:
      summary: Delete a pipeline stage def
      tags: [business_setup]
      x-required-permission: "business_setup.delete"
      x-is-write: true
      responses: { "200": { description: Deleted } }

  # ── Point of Sale (Module 6.3) ──────────────────────────────────
  /pos/terminals:
    get:
      summary: List terminals
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: is_active, in: query, schema: { type: boolean } }
      x-required-permission: "pos.view"
      responses: { "200": { description: Terminals } }
    post:
      summary: Create a terminal
      tags: [pos]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "pos.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /pos/terminals/{id}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Get a terminal
      tags: [pos]
      x-required-permission: "pos.view"
      responses: { "200": { description: Terminal } }
    patch:
      summary: Update a terminal
      tags: [pos]
      x-required-permission: "pos.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /pos/pins:
    post:
      summary: Set/reset a staff POS PIN (bcrypt; never returned)
      tags: [pos]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "pos.edit"
      x-is-write: true
      responses: { "201": { description: PIN set } }
  /pos/pins/verify:
    post:
      summary: Verify a staff POS PIN (lockout after 5 attempts)
      tags: [pos]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "pos.view"
      responses: { "200": { description: Verified }, "401": { description: Invalid }, "423": { description: Locked } }
  /pos/sessions:
    get:
      summary: List sessions
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: terminal_id, in: query, schema: { type: string, format: uuid } }
      x-required-permission: "pos.view"
      responses: { "200": { description: Sessions } }
    post:
      summary: Open a session (one open per terminal)
      tags: [pos]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "pos.create"
      x-is-write: true
      responses: { "201": { description: Opened }, "409": { description: Terminal already open } }
  /pos/sessions/{id}:
    get:
      summary: Get a session
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "pos.view"
      responses: { "200": { description: Session } }
  /pos/sessions/{id}/close:
    post:
      summary: Close a session → Z-report + cash variance
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "pos.edit"
      x-is-write: true
      responses: { "200": { description: Closed }, "400": { description: Variance explanation required } }
  /pos/sessions/{id}/reconcile:
    post:
      summary: Reconcile a closed session (manager)
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "pos.approve"
      x-is-write: true
      responses: { "200": { description: Reconciled } }
  /pos/cash-drops:
    post:
      summary: Record a mid-session cash drop
      tags: [pos]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "pos.edit"
      x-is-write: true
      responses: { "201": { description: Recorded } }
  /pos/checkout:
    post:
      summary: Checkout — creates a sales order + split payments (idempotent)
      tags: [pos]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "pos.create"
      x-is-write: true
      responses: { "201": { description: Transaction completed } }
  /pos/transactions:
    get:
      summary: List POS transactions
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: session_id, in: query, schema: { type: string, format: uuid } }
        - { name: status, in: query, schema: { type: string } }
      x-required-permission: "pos.view"
      responses: { "200": { description: Transactions } }
  /pos/transactions/{id}:
    get:
      summary: Get a POS transaction (with splits)
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "pos.view"
      responses: { "200": { description: Transaction } }
  /pos/transactions/{id}/void:
    post:
      summary: Void a transaction (manager; logged)
      tags: [pos]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "pos.approve"
      x-is-write: true
      responses: { "200": { description: Voided } }

  # ── Logistics & Delivery (Module 6.10) ──────────────────────────
  /logistics/couriers:
    get:
      summary: List couriers
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: is_active, in: query, schema: { type: boolean } }
      x-required-permission: "logistics.view"
      responses: { "200": { description: Couriers } }
    post:
      summary: Create a courier (rate card)
      tags: [logistics]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "logistics.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /logistics/couriers/{id}:
    parameters:
      - $ref: "#/components/parameters/BrandContext"
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Get a courier
      tags: [logistics]
      x-required-permission: "logistics.view"
      responses: { "200": { description: Courier } }
    patch:
      summary: Update a courier
      tags: [logistics]
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "200": { description: Updated } }
  /logistics/courier-events:
    post:
      summary: Ingest a courier webhook event (maps onto the state machine)
      tags: [logistics]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "201": { description: Ingested } }
  /logistics/deliveries:
    get:
      summary: List deliveries
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
        - { name: courier_id, in: query, schema: { type: string, format: uuid } }
        - { name: order_id, in: query, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.view"
      responses: { "200": { description: Deliveries } }
    post:
      summary: Create a delivery (+items)
      tags: [logistics]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "logistics.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /logistics/deliveries/{id}:
    get:
      summary: Get a delivery (items + attempts + history + proofs)
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.view"
      responses: { "200": { description: Delivery }, "404": { $ref: "#/components/responses/NotFound" } }
  /logistics/deliveries/{id}/book:
    post:
      summary: Book a queued delivery with the courier
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "200": { description: Booked } }
  /logistics/deliveries/{id}/advance:
    post:
      summary: Advance the delivery state machine
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "200": { description: Advanced }, "409": { description: Illegal transition } }
  /logistics/deliveries/{id}/cancel:
    post:
      summary: Cancel a delivery
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.delete"
      x-is-write: true
      responses: { "200": { description: Cancelled } }
  /logistics/deliveries/{id}/attempts:
    post:
      summary: Record a delivery attempt (outcome drives status)
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "201": { description: Attempt recorded } }
  /logistics/deliveries/{id}/proofs:
    post:
      summary: Attach proof of delivery (photo/signature/ID/OTP)
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "201": { description: Proof recorded } }
  /logistics/deliveries/{id}/webhook-events:
    get:
      summary: List courier webhook events for a delivery
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.view"
      responses: { "200": { description: Events } }
  /logistics/pod-collections:
    get:
      summary: List pay-on-delivery collections
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: status, in: query, schema: { type: string } }
      x-required-permission: "logistics.view"
      responses: { "200": { description: POD collections } }
    post:
      summary: Open a POD collection for a delivery
      tags: [logistics]
      parameters: [{ $ref: "#/components/parameters/BrandContext" }]
      x-required-permission: "logistics.create"
      x-is-write: true
      responses: { "201": { description: Created } }
  /logistics/pod-collections/{id}:
    get:
      summary: Get a POD collection
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.view"
      responses: { "200": { description: POD collection } }
  /logistics/pod-collections/{id}/collected:
    post:
      summary: Mark cash collected by the courier
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "200": { description: Collected } }
  /logistics/pod-collections/{id}/remit:
    post:
      summary: Record remittance — posts a sales payment on the order
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.edit"
      x-is-write: true
      responses: { "200": { description: Remitted } }
  /logistics/pod-collections/{id}/reconcile:
    post:
      summary: Reconcile a remitted POD collection (manager)
      tags: [logistics]
      parameters:
        - $ref: "#/components/parameters/BrandContext"
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      x-required-permission: "logistics.approve"
      x-is-write: true
      responses: { "200": { description: Reconciled } }

  # ── Public delivery tracking (served at /api/public/tracking — no auth) ──
  /tracking/{token}:
    get:
      summary: "PUBLIC: track a delivery by token (served at /api/public/tracking/{token})"
      tags: [logistics, public]
      security: []
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses: { "200": { description: Status + state history }, "404": { $ref: "#/components/responses/NotFound" } }

  # ── Public (no auth) — served under /api/public, not /api/v1 ──────
  /sale/{slug}:
    get:
      summary: "[public] Campaign landing payload (before/live/ended)"
      security: []
      tags: [sales_campaigns_public]
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Landing payload }
        "404": { $ref: "#/components/responses/NotFound" }
  /sale/{slug}/stock:
    get:
      summary: "[public] Live stock counters"
      security: []
      tags: [sales_campaigns_public]
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses: { "200": { description: Stock counters } }
  /sale/{slug}/signup:
    post:
      summary: "[public] Pre-launch notification signup (rate-limited)"
      security: []
      tags: [sales_campaigns_public]
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignSignup" }
      responses:
        "201": { description: Signed up }
        "200": { description: Already signed up }
        "429": { description: Too many requests }

  # TODO: 200+ more endpoints across the other 36 modules
